<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <div class="text">Header Logo</div>
        <ul class="links">
            <li><a href="">link 1</a></li>
            <li><a href="">link 2</a></li>
            <li><a href="">link 3</a></li>
        </ul>
    </div>

    <div class="main">
        <div class="intro">
            <div class="intro_text">This website is awesome</div>
            <div class="intro_text_smaller">This website has some subtext that goes here under the main title. It's a smaller font and color is lower contrast.</div>
            <button class="signUp_Btn">Sign up</button>
        </div>
        <div class="img"></div>
    </div>

    <div class="content">
        <div>Some random information.</div>
        <div class="cards">
            <div class="card">
                <img src="" alt="">
                <div>this is some subtext under an illustration or image</div>
            </div>
            <div class="card">
                <img src="" alt="">
                <div>this is some subtext under an illustration or image</div>
            </div>
            <div class="card">
                <img src="" alt="">
                <div>this is some subtext under an illustration or image</div>
            </div>
            <div class="card">
                <img src="" alt="">
                <div>this is some subtext under an illustration or image</div>
            </div>
        </div>
    </div>

    <div class="quote">
        <p>his is an inspiring quote, or a testimonial from a customer. Maybe it's just filling up space, or maybe people will actually read it. Who knows? All I know is that it looks nice.</p>
        <p class="author">Thor, God of Thunder</p>
    </div>
    <div class="signUp_section">
        <div>
            <p>Call to action! It's time!</p>
            <p class="smaller">Sign up for our product by clicking that button right over there!</p>
        </div>
        <button class="signUp_Btn">Sign Up</button>
    </div> 
    <div class="footer">
        <p>Copyright <span>&#169</span> The Odin Project 2021</p>
    </div>   
</body>
</html>